@{
    ViewData["Title"] = "Home Page";

    var productCount = ProductDal.CountProducts();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We have <span id="product-count">@productCount</span> products!</p>
</div>
